<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99418904117-l5rm3mhfvtu2cp8j4rjdvoivnu2hup04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99418904117-l5rm3mhfvtu2cp8j4rjdvoivnu2hup04</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>99418904117-4jj0hmqim60ujlqkndhbdrvae8j8olhm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC19d3OE-TGSRfSsc6l7ms_SxZMReQYFcs</string>
	<key>GCM_SENDER_ID</key>
	<string>99418904117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.vasu</string>
	<key>PROJECT_ID</key>
	<string>bible-38300</string>
	<key>STORAGE_BUCKET</key>
	<string>bible-38300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99418904117:ios:d785e9558b9c9f1d0a437c</string>
</dict>
</plist>